services:
  prometheus:
    image: prom/prometheus:v3.7.3
    configs:
      - source: prometheus-config
        target: /etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - prometheus
    deploy:
      mode: replicated
      replicas: ${PROMETHEUS_REPLICAS:-1}

networks:
  prometheus:
    name: prometheus
    attachable: true

configs:
  prometheus-config:
    file: ./config/prometheus/prometheus.yml